#timer {
	width: 200px;
	height: 30px;
	border: 1px solid white;
	background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 0%);
	opacity: 1;
	pointer-events: all;
	transition: 0.1s;
}

#timer.hidden {
	opacity: 0;
	pointer-events: none;
}

#tf-video, #tf-canvas {
	position: absolute;
	bottom: 50px;
	left: 50px;
	border-radius: 50px;
	box-sizing: content-box;
	transform: scale(.5) translateX(-50%) translateY(50%) rotateY(180deg);
    -webkit-transform: scale(.5) translateX(-50%) translateY(50%) rotateY(180deg); /* Safari and Chrome */
    -moz-transform: scale(.5) translateX(-50%) translateY(50%) rotateY(180deg); /* Firefox */
	opacity: 1;
	transition: opacity .5s ease-in-out;

	&.hide {
		opacity: 0;
	}
}
#tf-video {
	border: 15px solid #646cff;
}

// #tf-canvas {
// 	position: absolute;
// 	bottom: 56px;
// 	right: -293px;
// 	box-sizing: content-box;
// 	transform: scale(.58) translateX(-50%) translateY(50%) rotateY(180deg);
//     -webkit-transform: scale(.58) translateX(-50%) translateY(50%) rotateY(180deg); /* Safari and Chrome */
//     -moz-transform: scale(.58) translateX(-50%) translateY(50%) rotateY(180deg); /* Firefox */
// }

#rec {
	color: red;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	top: 30px;
	right: 30px;
	animation: blink .5s ease-in-out infinite alternate;
	display: none;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.custom-cursor {
	width: 50px;
	height: 50px;
	background-color: red;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	transition: opacity .5s ease-in-out;
	opacity: 1;

	&.hide {
		opacity: 0;
	}
}

.start {
	width: 75px;
	height: 75px;
	background-color: blue;
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translateX(-50%) translateY(-50%);
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .5s ease-in-out;
	opacity: 0;

	&.show {
		opacity: 1;
	}

	&.hovered {
		background-color: green;
	}
}