#timer {
	width: 200px;
	height: 30px;
	border: 1px solid white;
	background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 0%);
	opacity: 1;
	pointer-events: all;
	transition: 0.1s;
}

#timer.hidden {
	opacity: 0;
	pointer-events: none;
}

#tf-video, #tf-canvas {
	position: absolute;
	bottom: 50px;
	left: 50px;
	border-radius: 50px;
	border: 15px solid #646cff;
	box-sizing: content-box;
	transform: scale(.5) translateX(-50%) translateY(50%) rotateY(180deg);
    -webkit-transform: scale(.5) translateX(-50%) translateY(50%) rotateY(180deg); /* Safari and Chrome */
    -moz-transform: scale(.5) translateX(-50%) translateY(50%) rotateY(180deg); /* Firefox */
}

#rec {
	color: red;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	top: 30px;
	right: 30px;
	animation: blink .5s ease-in-out infinite alternate;
	display: none;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}