#timer {
	width: 200px;
	height: 30px;
	border: 1px solid white;
	background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 0%);
	opacity: 1;
	pointer-events: all;
	transition: 0.1s;

	&.hide {
		opacity: 0;
		transition: .5s;
		width: 0;
		pointer-events: none;
	}
}


#energy {
	width: 200px;
	height: 30px;
	border: 1px solid white;
	background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 0%);
	opacity: 1;
	pointer-events: all;
	transition: 0.1s;
	position: absolute;
	top: 50vh;
	right: 0vw;
	transform: rotateZ(-90deg);
	opacity: 1;

	&.hidden {
		opacity: 0;
	}
}

#tf-video, #tf-canvas {
	position: absolute;
	bottom: 50px;
	left: 50px;
	border-radius: 50px;
	box-sizing: content-box;
	transform: scale(.5) translateX(-50%) translateY(50%) rotateY(180deg);
    -webkit-transform: scale(.5) translateX(-50%) translateY(50%) rotateY(180deg); /* Safari and Chrome */
    -moz-transform: scale(.5) translateX(-50%) translateY(50%) rotateY(180deg); /* Firefox */
	opacity: 1;
	transition: opacity .5s ease-in-out;

	&.hide {
		opacity: 0;
	}
}
#tf-video {
	border: 15px solid #646cff;
}

// #tf-canvas {
// 	position: absolute;
// 	bottom: 56px;
// 	right: -293px;
// 	box-sizing: content-box;
// 	transform: scale(.58) translateX(-50%) translateY(50%) rotateY(180deg);
//     -webkit-transform: scale(.58) translateX(-50%) translateY(50%) rotateY(180deg); /* Safari and Chrome */
//     -moz-transform: scale(.58) translateX(-50%) translateY(50%) rotateY(180deg); /* Firefox */
// }

#rec {
	color: red;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	top: 30px;
	right: 30px;
	animation: blink .5s ease-in-out infinite alternate;

	&.hide {
		opacity: 0;
		transition: .5s;
		width: 0;
		display: none;
	}
}


#title.hide {
	opacity: 0;
	transition: .5s;
	width: 0;
}


@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.black-filter {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .29;
}

.logo-wrapper {
	position: absolute;
    top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo {
	width: 50%;
	height: 50%;
	z-index: 1;
}

#logo-container.hide {
	opacity: 0;
	transition: .5s;
}

#approuved-wrapper {
	position: absolute;
    top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	&.hide {
		opacity: 0;
		transition: .5s;
		width: 0;
	}
}

#approuved {
	width: 50%;
	height: 50%;
}

.custom-cursor {
	width: 50px;
	height: 50px;
	background-color: red;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	transition: opacity .5s ease-in-out;
	opacity: 1;

	&.hide {
		opacity: 0;
	}
}

.start {
	width: 75px;
	height: 75px;
	background-color: blue;
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translateX(-50%) translateY(-50%);
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .5s ease-in-out;
	opacity: 0;

	&.show {
		opacity: 1;
	}

	&.hovered {
		background-color: green;
	}
}

#music-container {
	position: absolute;
	right: 6vw;
	bottom: 4vh;

	&.hide {
		opacity: 0;
		transition: .5s;
		width: 0;
	}
}

#move {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	width: auto;

	&.hide {
		opacity: 0;
		transition: .5s;
		width: 0;
	}
}

#random-word {

	&.hide {
		opacity: 0;
		transition: .5s;
		width: 0;
	}
}